<div class="container">
<div class="row">
  <div class="col-md-6">
    <h1>Edit a Dinosaur</h1>
      <form ng-submit="vm.update()">

        <div class="form-group">
          <label  for="name">Name</label>
          <input class="form-control" type="text" name="name" id="name" ng-model="vm.dinosaur.name" placeholder="Name" >
        </div>

        <div class="form-group" >
          <label  for="description">Description</label>
          <textarea class="form-control" id="description" name="description" ng-model="vm.dinosaur.description"  placeholder="Write description of your dinosaur here"></textarea>
        </div>
        <div class="from-group">
          <label for="Image">Image</label>
          <input class="form-control" type="text" name="image" ng-model="vm.dinosaur.image" placeholder="Paste Dinosaur Image address here">
        </div>

        <div class="form-group">
          <label for="Period">Period</label>
          <input class="form-control" type="text" name="period" id="period" ng-model="vm.dinosaur.period" placeholder="The Cretaceous period...">
        </div>

        <div>
          <input class="btn btn-primary" type="submit" value="Edit Dinosaur">
        </div>
      </form>
  </div>

</div>
</div>
