<h1>Dinosaur Show Page</h1>

<h2>{{ vm.dinosaur.name }}</h2>

<img ng-src="{{ vm.dinosaur.image }}" alt="{{ vm.dinosaur.name }}">

<p>Period: {{ vm.dinosaur.period }}</p>
<p>Description: {{ vm.dinosaur.description }}</p>

<h2>Comments</h2>
<div ng-repeat="comment in vm.dinosaur.comments">
  <p>{{ comment.body }}</p>
  <p>{{ comment.user.username }}</p>
</div>
<textarea ng-model="vm.comment.body" name="newcomment" rows="8" cols="80"></textarea>
<button ng-click="vm.addComment()" type="button" name="button">Add comment</button>
<a href="javascript:void(0)" ng-click="vm.delete()">Delete</a>
