// Import all of your scss files here
body {
  // background-image: url("https://images5.alphacoders.com/793/thumb-1920-793896.jpg");
  background-color: #f2ecdc;
}

.page-title {
  // color: antiquewhite;
  text-align: center;
}

.row-element {
  margin-top: 20px;

  .dinosaur-card {

    padding-bottom: 20px;
    box-shadow: 0 10px 6px -6px #777;

    .img-wrapper {
      min-height: 300px;
      max-height: 300px;
      overflow: hidden;
      margin-bottom: 10px;

      img {
        overflow: hidden;
        cursor: pointer;
      }
    }

    .vertical-center {
      display: flex;
      align-items: center;
    }

    .img-responsive {
      margin: 20px auto;
    }

  }
}

.dinosaur-card {
  padding-bottom: 20px;
  box-shadow: 0 10px 6px -6px #777;
}

.button-row {
  margin-bottom: 20px;
}

.comment-div {
  margin-bottom: 2px;
  border-bottom: 1px solid #bdbfc1;

  .comment-username {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 2px;
  }
}

.comment-div:first-child {
  border-top: 1px solid #bdbfc1;
}

.comment-textarea {
  margin-bottom: 10px;
}
